.register{
width:360px;
margin:50px auto;
font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
border-radius:10px;
border:2px solid #ccc;
padding:10px 40px 25px;
margin-top:70px;
}
input[type=text], input[type=password]{
width:99%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
input[type=submit]{
width:100%;
background-color:#009;
color:#fff;
border:2px solid #06F;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px;
}

.button
{
width:100%;
background-color:#009;
color:#fff;
border:2px solid #06F;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin: 0 auto;
text-align: center;
line-height: 35px;
}


body {
	background-color: #A3A380;
	margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #9a998c;
}
.logo {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #a2a392;
}

.navbar, a{
  color: black;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: #a2a392;
}

a {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  height: 60px;

}

.navbar a:hover {
  background-color: #f0ead2;
  opacity: 70%;
}

.navbar {
  border-bottom: 5px solid #d4cdc3;
}

.active {
  background-color: #f0ead2;
}

@media all and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
  display: none;
}
}

footer {
  display: block;
  text-align: center;
  background-color: #8b7968;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
}