body {
    background-color: #9a998c;
  margin: 0 auto;
}

.logo {
  padding-left: 10px;
  padding-top: 10px;
  background-color: #a2a392;
}

.navbar, a{
  color: black;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  background-color: #a2a392;
}

a {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  padding: 20px 20px 20px 20px;
  height: 60px;
}

.navbar a:hover {
  background-color: #f0ead2;
  opacity: 70%;
}

.navbar {
  border-bottom: 5px solid #d4cdc3;
}

.active {
  background-color: #f0ead2;
}

@media all and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .logo {
  display: none;
}
}

footer {
  display: block;
  text-align: center;
  background-color: #8b7968;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

h1 {

  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}

.button
{
width: 30%;
background-color:#009;
color:#fff;
border:2px solid #06F;
padding:10px;
font-size:50px;
cursor:pointer;
border-radius:5px;
margin: 0 auto;
text-align: center;
line-height: 50px;
}



